*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-y: auto;
    max-width: 100%;
    overflow-x: hidden;
}

.header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding-right: 300px;
    padding-left: 300px;
    padding-top: 30px;
    column-gap: 32px;
}
.hero{
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}
.subhero{
    color: #E5E7EB;
    font-size: 18px;
}

button{
    background-color: #3882F6;
    padding: 8px 20px;
    border-radius: 8px;
    color: #E5E7EB; 
    border: none;
    font-weight: 500;
    font-size: 14px;
}
.links{
    justify-self: flex-end;
}

ul{
    display: inline;
    list-style-type: none;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

.header,.container2,.footer{
    background-color: #1F2937;
}

.header-logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.container2{
    display: flex;
    justify-content: space-evenly;
    height: 600px;
    padding: 120px;
    align-items: stretch;
}

.information{
    flex: 1;
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.welcome-container{
    width: 1200px;
    display: flex;
    gap: 200px;
}

.image{
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
}

img.image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

img.box{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container3{
    background-color: WHITE;
    display: flex;
    text-align: center;
    flex-direction: column;
    height: 450px;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 215px;
    height: 290px;
    flex-wrap: nowrap;
    margin: 24px;
    
}

.infocontainer{
    font-weight: 900;
    font-size: 36px;
}

.boxes{
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex: 1;
    padding: 20px;
    margin: 8px;
    color: grey;
}

.box{
    border: #3882F6 solid;
    width: 205px;
    height: 205px;
    align-self: center;
    border-radius: 15px;
    overflow: hidden;
}
.box img{
    width: 100%;
    width: 100%;
}

.container4{
    display: flex;
    background-color: #E5E7EB;
    text-align: center;
    height: 500px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quotes{
    font-size: 36px;
    font-style: italic;
    width: 800px;
    text-justify: distribute-all-lines;
    
}

.citation{
    font-weight: 900;
    text-align: end;
    width: 800px;
    font-size: 18px;
}


.container5{
    margin-bottom: 0px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup{
    display: flex;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 60px;
    width: 1200px;
}

.para{
    color: white;
    font-weight: 800;
    font-size: 18px;
}

.lp{
    flex-grow: 2;
    margin-left: 48px;
    color: #E5E7EB;
}

.button1{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: end;
}

.button_class{
    padding: 4px 20px;
    border-radius: 8px;
    color: white;
    font-weight: 700;
    border: 3px #E5E7EB solid;
}

.footer{
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 32px;
    color: #E5E7EB;
}

li{
    display: inline-block;
    margin: 12px;
}